<html>

<head>
  <style type="text/css">
    @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
  </style>
  <meta charset="utf-8">
</head>

<body>
  <div>
    <div>
      <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" style="
          font-size: 14px;
          font-family: 'Poppins', sans-serif;
          padding: 0;
          margin: 0;
          color: #333;
          border-bottom: 4px solid #7fba00;
          background-color: #f3f0f0;
          background-repeat: repeat-x;
          background-position: bottom left;
        ">
        <tbody>
          <tr>
            <td>
              <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td align="center" valign="middle" style="padding: 33px 0px 0px; background-color: #ffffff;">
                      <a href="https://msclubofsliit-v2.web.app/" target="_blank"><img
                          src="https://firebasestorage.googleapis.com/v0/b/msclubofsliit-v2.appspot.com/o/ms_club_logo.png?alt=media&token=67a67121-bc98-4e14-a10f-db38748f12d1"
                          width="200" alt="" style="margin-bottom: 10px;" /></a>
                      <div style="border-bottom: 3px solid #7fba00;"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="padding: 0 30px 20px; background: #fff;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="
                                  font-size: 24px;
                                  line-height: 30px;
                                  padding-top: 20px;                               
                                  color: #323232;
                                ">
                                Hi {{name}}
                                <span>
                                  <img
                                    src="https://firebasestorage.googleapis.com/v0/b/msclubofsliit-v2.appspot.com/o/waving-hand.png?alt=media&token=e76ab4e4-81cc-4627-a433-2ddb9108c865"
                                    width="24px"
                                    style="margin-left: 3px; position: absolute;"
                                  />
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                font-size: 20px;
                                line-height: 30px;
                                padding-top: 20px;
                                color: #323232;">
                                We appreciate you contacting MS Club SLIIT. One of our colleagues will get back in touch with you soon! <br>Have a great day!
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                  font-weight: 600;
                                  font-size: 22px;
                                  padding-top: 20px;">
                                Message Information&nbsp;:
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                font-size: 20px;
                                line-height: 30px;
                                padding-top: 10px;
                                color: #323232;">
                                Email Address - {{email}}
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                font-size: 20px;
                                line-height: 30px;
                                padding-top: 10px;
                                color: #323232;">
                                Date & Time - {{date_time}}
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                font-size: 20px;
                                line-height: 30px;
                                padding-top: 10px;
                                color: #323232;">
                                Message -
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                font-size: 20px;
                                line-height: 30px;
                                padding-top: 10px;
                                color: #323232;">
                                {{message}}
                              </td>
                            </tr>
                            <tr>
                              <td align="left" ; style="
                                  padding: 30px 0 15px 0;
                                  font-size: 12px;
                                  color: #090909;
                                  line-height: 20px;
                                ">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td style="
                                    padding-right: 30px;                                
                                  ">
                                        <img
                                          src="https://firebasestorage.googleapis.com/v0/b/msclubofsliit-v2.appspot.com/o/ms_club_logo.png?alt=media&token=67a67121-bc98-4e14-a10f-db38748f12d1"
                                          width="150" alt="" />
                                      </td>
                                      <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="
                                            font-size: 12px;                      
                                            color: #323232;">
                                                Sri Lanka Institute Of Information Technology,<br>
                                                Malabe,<br>
                                                Sri Lanka.
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="
                                            font-size: 12px;                      
                                            color: #323232;">
                                                <a style="color: #6442c7; text-decoration: none;"
                                                  href="https://msclubofsliit-v2.web.app/" target="_blank">
                                                  <strong>www.msclubsliit.org</strong>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <table>
                                                  <tbody>
                                                    <tr>
                                                      <td class="social-icons">
                                                        <a href="https://www.instagram.com/msclub.sliit/"
                                                          title="Instagram" target="_blank">
                                                          <img width="23px"
                                                            src="https://firebasestorage.googleapis.com/v0/b/msclubofsliit-v2.appspot.com/o/instagram-brands.png?alt=media&token=79a67bce-206b-4338-ac82-668da777f874"
                                                            alt="" style="margin-right: 3px;">
                                                        </a>
                                                      </td>
                                                      <td class="social-icons">
                                                        <a href="https://www.facebook.com/msclubsliit"
                                                          target="_blank" title="Facebook">
                                                          <img width="24px"
                                                            src="https://firebasestorage.googleapis.com/v0/b/msclubofsliit-v2.appspot.com/o/facebook-brands.png?alt=media&token=68ab76e4-3388-48f2-8348-8208840ae19d"
                                                            alt="" style="margin-right: 3px;">
                                                        </a>
                                                      </td>
                                                      <td class="social-icons">
                                                        <a href="https://www.linkedin.com/company/msclubsliit" target="_blank"
                                                          title="Twitter">
                                                          <img width="22px"
                                                            src="https://firebasestorage.googleapis.com/v0/b/msclubofsliit-v2.appspot.com/o/linkedin-in-brands.png?alt=media&token=f5d671fd-239e-4b71-bdd4-1df76cfb4b80"
                                                            alt="" style="margin-right: 3px;">
                                                        </a>
                                                      </td>
                                                      <td class="social-icons">
                                                        <a href="https://www.youtube.com/channel/UCoSzsIgJZY52iiWu5YNI0Xg"
                                                          target="_blank" title="Linkedin">
                                                          <img width="27px"
                                                            src="https://firebasestorage.googleapis.com/v0/b/msclubofsliit-v2.appspot.com/o/youtube-brands.png?alt=media&token=7de466af-9f7d-4afe-85b2-7e75f31e1990"
                                                            alt="">
                                                        </a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>

                                    </tr>
                                  </tbody>
                                </table>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="font-size: 12px; color: #999; padding: 20px 0;">
                      © 2021 MS Club of SLIIT All Rights Reserved.
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <div></div>
      <div></div>
    </div>
  </div>

</body>


</html>