# These owners will be the default owners for everything in the repo.
# Following code owners will be requested for review when someone 
# opens a pull request.
*       @gihanrcg
*       @DInuwan97
*       @CandyPanda-LS
*       @rusiruavb 
*       @senuravihanjayadeva 
*       @nisalrenuja 
*       @miyurugunarathna